/* Основні стилі */

body {
    font-family: Arial, sans-serif;
    background-color: #022202de; /* Зелений фон */
    margin: 120px; /* Встановлення відступу зверху */
    padding: 0; /* Забираємо відступ вмісту */
}

.logo {
    
    top: 20px; /* Відступ зверху */
    left: 50px; /* Відступ зліва */
    z-index: 1000; /* Підвищте значення z-index, якщо потрібно */
    width: 200px; /* Ширина логотипу */
    height: auto; /* Автоматично обчислюємо висоту */
    background-color: transparent; /* Прозорий фон */
    margin-right: 20px; /* Відступ справа */
    margin-bottom: 20px; /* Відступ знизу */
}


.logo img {
    width: 100%; /* Ширина картинки у 100% від обгортки */
    height: auto; /* Автоматично обчислюємо висоту */
    border-radius: 50px; /* Закруглені кути, якщо потрібно */
}

/* Фіксація логотипу при прокручуванні */
.logo.fixed {
    position: fixed;
    top: 0;
}


h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Основні стилі для вхідних елементів форми */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"], /* Додано для поля віку */
select,
textarea,
button[type="submit"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f5f5dc; /* Бежевий колір */
    margin-bottom: 10px; /* Додатковий відступ між елементами форми */
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;

}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Додаткові стилі */

#skincare-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}

#skincare-form label {
    font-weight: bold;
}

#skincare-form input[type="file"] {
    border: none;
}

#skincare-form input[type="checkbox"],
#skincare-form input[type="radio"] {
    width: auto;
} 

button[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Відступ між кнопками */
}

button[type="button"]:hover {
    background-color: #45a049;
}


.uploaded-photo {
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100px; /* Змінено максимальну ширину */
    height: auto; /* Автоматично обчислюємо висоту */
}

.uploaded-photo.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Змінено на відсоткову ширину відносно ширини вікна */
    height: 100vh; /* Змінено на відсоткову висоту відносно висоти вікна */
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    cursor: zoom-out;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



                                                   /* Стилі для мобільного пристрою шириною 320px */

    /* Змінюємо розміри кнопок і введених полів */
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    /* Змінюємо розміри кнопки "Надіслати" */
    button[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }


@media only screen and (max-width: 320px) {
    /* Змінюємо розмір тексту для заголовка H1 */
    h1 {
        font-size: 14px; /* Змінюємо розмір тексту на 20px для мобільного пристрою */
        margin-top: 10px; /* Додаємо відступ зверху */
    }
    
    /* Змінюємо розмір тексту для всіх елементів */
    body, p, h2, h3, h4, h5, h6, label, button {
        font-size: 12px; /* Змінюємо розмір тексту на 12px для мобільного пристрою */
    }

    button[type="button"] {
        margin-bottom: 5px; /* Відступ від кнопки до низу */
    }

    .logo img {
        border-radius: 5px; /* Закруглені кути, якщо потрібно */
        max-width: 100%;
    }

}


/* Стилі для мобільних пристроїв */
@media only screen and (max-width: 768px) {
    body {
        margin: 50px; /* Зменшуємо відступ для мобільних */
    }

    .logo img {
        max-width: 100%; /* Зменшуємо розмір логотипу для мобільних */
    }

    #skincare-form {
        margin: 20px; /* Зменшуємо відступ форми для мобільних */
    }
}

/* Стилі для планшетів */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        top: 10px; /* Зменшуємо відступ логотипу для планшетів */
        left: 30px; /* Зменшуємо відступ логотипу для планшетів */
    }

    .logo img {
        max-width: 30%; /* Зменшуємо розмір логотипу для планшетів */
    }


    #skincare-form {
        max-width: 800px; /* Збільшуємо максимальну ширину форми для планшетів */
        margin: 50px auto; /* Центруємо форму для планшетів */
    }
}

/* Стилі для десктопів */
@media only screen and (min-width: 1025px) {
    .logo {
        top: 20px; /* Збільшуємо відступ логотипу для десктопів */
        left: 50px; /* Збільшуємо відступ логотипу для десктопів */
    }

    .logo img {
        max-width: 20%; /* Зменшуємо розмір логотипу для десктопів */
    }


    #skincare-form {
        max-width: 1000px; /* Збільшуємо максимальну ширину форми для десктопів */
        margin: 100px auto; /* Центруємо форму для десктопів */
    }
}
